.social {
  text-align: center;
}

.social > * {
  margin: 0px 10px;
}

.img-circle {
    border-radius: 50%;
}

.portrait {
  width: 300px;
  height: auto;
}

.gigsmap {
	background-image: url("/images/ios/gigsmap.png");
}

.tropiciel {
	background-image: url("/images/ios/tropiciel.png");
}
