.social {
  text-align: center;
}

.centered {
  text-align: center;
}

.social > * {
  margin: 0px 5px;
}

.img-circle {
    border-radius: 50%;
}

.portrait {
  width: 200px;
  max-width:100%;
  max-height:100%;
  height: auto;
  margin-bottom: 20px;
}

.introduction {
    padding-left: 20px;
}

.timeline-body-with-image {
  padding: 1%;
}

.image-holder {
  width: 35%;
  float: left;
}

.timeline-image {
  width: 100%;
  padding: 5%;
  margin-left: -2.5%;
}

.text-holder {
  width: 63%;
  float: right;
}

.image-holder-inverted {
  width: 35%;
  float: right;
}

.timeline-image-inverted {
  width: 100%;
  padding: 5%;
  margin-right: -2.5%;
}

.text-holder-inverted {
  width: 63%;
  float: left;
}

/* Background pattern from subtlepatterns.com */
.jumbotron {
  background-image: url("/images/pw_maze_white.png");
}
