.social {
  text-align: center;
}

.centered {
  text-align: center;
}

.social > * {
  margin: 0px 5px;
}

.img-circle {
    border-radius: 50%;
}

.portrait {
  width: 200px;
  max-width:100%;
  max-height:100%;
  height: auto;
  margin-bottom: 20px;
}

.introduction {
    padding-left: 20px;
}

/* Background pattern from subtlepatterns.com */
.jumbotron {
  background-image: url("/images/pw_maze_white.png");
}
