body {
  padding-top: 0px;
}

nav {
  background-color: #AD8EAD;
}

#navmenu li a {
  color: #ffffff;
  height: 40px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

#navmenu li a:hover {
  background-color: #AD8EAD;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
  text-align: center;
}

/* Background pattern from subtlepatterns.com */
.jumbotron {
  background-image: url("/images/pixel_weave.png");
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  text-align: center;
  background-color: #804D99;
  color: #eeeeee;
  margin-bottom: 0px;
}

.jumbotron  h1 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  text-transform: lowercase;
  color: #C9BCCC;
  margin-bottom: 0px;
}

.jumbotron h1 strong {
  color: #ffffff;
}

.jumbotron .lead {
  font-size: 21px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */


/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
 #navmenu {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
 }

 .active {
    font-weight: 900;
 }

#aboutpage {
  padding: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.introduction {
    padding-left: 20px;
}

.portrait {
  width: 100%;
  height: auto;
}

.quietlink {
  color:#000000;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

