.android {
  background-color: #a4c639
}

.ios {
  background-color: #e0e2e5
}

.scholar {
  background-color: #b32216
}

.timeline {
  text-align: center;
}

.timeline .year {
  font-weight: bold;
  font-size: 1.5em;
}

.timeline ul {
  list-style: none;
}

.timeline li {
  margin: 10px;
  max-width: 40%;
}

.events {
  padding: 10px;
}
